nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }

  h1{
    text-align: center;
    font-size: 40px;
  }
  
  label {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  input {
    font-size: 20px;
    border-radius: 10px;
    color: black;
    border: 1px solid limegreen;
  }

  div {
    margin: 1%;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 50px;
    background-color: burlywood;
    border: 5px solid green;
  }

  button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: limegreen; /* Green */
    border: 1px solid green;
    border-radius: 8px;
    color: black;
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    margin: 7%;
    margin-top: 2%;
    margin-bottom: 3%;
    transition-duration: 0.3s;
  }

  button:hover {
    background-color: lime; /* Green */
    border: 1px solid limegreen;
  }

  button:active {
    background-color: white; /* Green */
    border: 1px solid lime;
  }