
<nav>
    <div>
        <h2>Register</h2>
        <form [formGroup]="registerForm">
            <label>Username: </label>
            <input formControlName="username"/>
            <br><br>
            <label>Password: </label>
            <input formControlName="password" type="password"/>
            <br><br>
            <button (click)="onSubmit()">Register</button>
            <button (click)="back()">Back</button>
            <br>
            <label response="response">{{response}}</label>
            <br>
            <br>
        </form>
    </div>
</nav>
